dump
output
output_sample
output_gaussian
*result*.csv
00param.txt
.idea
.ipynb_checkpoints
__pycache__
*param*.csv
*.png
csv_files
*.pyc

build
dist
*.egg-info

# Tex
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.fls
*log
*.synctex.gz

*.pdf
samples/three_dim_test/gaussian_info.txt
samples/three_dim_test/one_mountain_info.txt
samples/three_dim_test/param_dir/one_mountain_info 2.txt
samples/three_dim_test/param_dir/one_mountain_info.txt

*.gif
*.model
*.output

*mu_sigma*.csv
*point_info*.csv
*ratio*.csv